<div id="myDlg" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Confirma exclusão do cliente?</p>
        <p class="text-secondary"><small>Se for excluído, o cliente não poderá ser recuperado.</small></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
        <button type="button" class="btn btn-primary" (click)="confirma()" data-bs-dismiss="modal">Confirma</button>
      </div>
    </div>
  </div>
</div>
